.logo {
    margin-right: 0;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.yomiLogo {
    margin-right: 0;
    will-change: filter;
    transition: filter 300ms;
}
.yomiLogo:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}
.yomiLogo.react:hover {
  filter: drop-shadow(0 0 1em #61dafbaa);
}